<configuration>
  <components>
    <component id="ILuffy.UGuest.Repository.IConfigRepository"
               service="ILuffy.UGuest.Repository.IConfigRepository, FlyingMessageRepositoryIntention"
               type="ILuffy.UGuest.Repository.ConfigRepository, FlyingMessageRepository"
               lifestyle="transient" />
    <component id="ILuffy.UGuest.Repository.ITradeRepository"
               service="ILuffy.UGuest.Repository.ITradeRepository, FlyingMessageRepositoryIntention"
               type="ILuffy.UGuest.Repository.TradeRepository, FlyingMessageRepository"
               lifestyle="transient" />
    <component id="ILuffy.UGuest.Repository.ILoginRepository"
               service="ILuffy.UGuest.Repository.ILoginRepository, FlyingMessageRepositoryIntention"
               type="ILuffy.UGuest.Repository.LoginRepository, FlyingMessageRepository"
               lifestyle="transient" />
  </components>
</configuration>