<configuration>
  <components>
    <component id="ILuffy.UGuest.Domain.Service.IPrinterService"
               service="ILuffy.UGuest.Domain.Service.IPrinterService, FlyingMessageDomainServiceIntention"
               type="ILuffy.UGuest.Domain.Service.PrinterService, FlyingMessageDomainService"
               lifestyle="transient" />
    <component id="ILuffy.UGuest.Domain.Service.ITradeService"
               service="ILuffy.UGuest.Domain.Service.ITradeService, FlyingMessageDomainServiceIntention"
               type="ILuffy.UGuest.Domain.Service.TradeService, FlyingMessageDomainService"
               lifestyle="transient" />
    <component id="ILuffy.UGuest.Domain.Service.ILoginService"
               service="ILuffy.UGuest.Domain.Service.ILoginService, FlyingMessageDomainServiceIntention"
               type="ILuffy.UGuest.Domain.Service.LoginService, FlyingMessageDomainService"
               lifestyle="transient" />
    <component id="ILuffy.UGuest.Domain.Service.ICryptographyService"
               service="ILuffy.UGuest.Domain.Service.ICryptographyService, FlyingMessageDomainServiceIntention"
               type="ILuffy.UGuest.Domain.Service.CryptographyService, FlyingMessageDomainService"
               lifestyle="transient" />
  </components>
</configuration>