<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>
  <castle>
    <include uri="file://Config/CommonCastle.config" />
    <include uri="file://Config/RepositoryCastle.config" />
    <include uri="file://Config/ServiceCastle.config" />
  </castle>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="hostUrl" value="http://101.200.195.100" />
  </appSettings>
</configuration>
